/* src/components/blog/blog.css */

.container {
    max-width: 1200px;
  }

  .blog-container .container {
    margin-top: 60px !important;/* Adjust based on your navbar height */
  }
  
  .card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
  
  .card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .blog-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
  
  .blog-card-view {
    box-shablogdow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .blog-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
  }
  
  .content {
    line-height: 1.6;
  }

  .content p {
    color: white;
  }
  
  .container h1 {
    color: white;
  }

.card {
background: rgba(61, 61, 61, 0.25) !important;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(61, 61, 61, 0.2);
color: white;
}

.card-title {
  color: white !important;
}

.prispevek h1 h2 h3 h4 h5 h6 {
  color: white !important;
}